.flex-col-center-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.flex-col-start-start {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}
.flex-row-start-start {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
}
.flex-row-start-center {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}
.flex-row-start-end {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-end;
}
.flex-row-between-center {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.flex-row-between-end {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
}